html{
    height: auto;
    width: 250px;
}

#heading{
    text-align: center;
}

i{
    cursor: pointer;
}

#mic-icon{
    color: red;
}

#contact{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#profile{
    font-size: 12px;
}

